<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h3>Create a New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="enter title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            type="text"
            name="listing[description]"
            class="form-control"
            placeholder="enter description"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing image:</label>
          <input
            type="file"
            name="listing[image]"
            class="form-control"
            required
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input
              type="text"
              class="form-control"
              name="listing[price]"
              placeholder="enter price"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="col-8">
            <div class="mb-3">
              <label for="country" class="form-label">Country:</label>
              <input
                type="text"
                name="listing[country]"
                placeholder="enter country"
                class="form-control"
                required
              />
              <div class="invalid-feedback">Country name should be valid</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input
              type="text"
              class="form-control"
              name="listing[location]"
              placeholder="enter location"
              required
            />
            <div class="invalid-feedback">Location should be valid</div>
          </div>
        </div>

        <br /><br />
        <div>
          <button class="btn btn-dark add-btn offset-4">Add</button>
        </div>
      </form>
    </div>
  </div>
</body>
